@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-ocubyte-dark {
  --color-primary: #0A1018;
  --color-secondary: #1a202c;
  --color-accent: #F59E0B;
  --color-text: #E5E7EB;
}

.theme-ocubyte-light {
  --color-primary: #E5E7EB;
  --color-secondary: #ffffff;
  --color-accent: #00B7EF;
  --color-text: #0A1018;
}

.theme-glass {
  --color-primary: transparent;
  --color-secondary: rgba(255, 255, 255, 0.1);
  --color-accent: #00FFAB;
  --color-text: #E5E7EB;
}

@keyframes move-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background-color: var(--color-primary);
  color: var(--color-text);
}

.theme-glass body {
  background: linear-gradient(45deg, #0A1018, #00B7EF, #00FFAB, #FF5E57);
  background-size: 400% 400%;
  animation: move-bg 15s ease-in-out infinite;
}
